<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>result</title>
</head>

<body>

  <div class="result">
    <h2>
      Finaly Redirected
    </h2>

    <p>
      <%= `Box sum = ${result.boxSum}`  %>
    </p>

    <% result.contributors.forEach((amount,person,map)=>{ %>

    <p>
      <%= `${person} = ${map.get(person)}`; %>
    </p>
    <% }); %>




  </div>
</body>

</html>
