/* Contributors Start*/


/* Left side */
.contributors-container {
    height: 100%;
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;


}

.add-contributors {
    width: 30%;
    /* padding: 5%; */
    margin: 5%;
}

.input-and-button {
    display: flex;
    justify-content: space-between;
}

.input-and-button input {
    width: 70%;
    height: 30px;
    font-size: 20px;
}


/* Contributor's name box */
.show-contributors {
    width: 20%;
    max-height: 50%;
    overflow-y: scroll;

}

/* Hide the scrollbar */
.show-contributors::-webkit-scrollbar {
    display: none;
}


.list-item {
    display: flex;
    justify-content: space-between;
}

/* Contributors Finish*/